*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    height: 10vh;
    display: flex;
}

header img{
    margin-top: 20px;
    margin-left: 10px;
    height: 20px;
    width: 50px;
}

main{
    padding: 200px;
    width: 100vw;
}

#box{
    height: 300px;
    width: 50vw;
    background-color: #C1D0F7;
}
